@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container-form {
    color: white;
    width: 350px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-weight: 300;
}

#form-login {
    background-color: #4682b4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
}

.lab-email, .lab-pw {
    position: absolute;
    color: white;
    left: 0;
    top: 20px;
    pointer-events: none;
}

#btn:active {
    transform: scale(0.88);
}

#btn {
    width: 250px;
    height: 50px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 40px 0 10px 0;
    font-size: 16px;
    background-color: #add8e6;
}

.form-control {
    position: relative;
    width: 250px;
}

#email, #password {
    outline: none;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid white;
    margin: 20px 0;
    width: 100%;
}

.lab-pw .spanPw, .lab-email .spanEmail {
    display: inline-block;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#email:focus + .lab-email .spanEmail {
    transform: translateY(-30px);
    color: #add8e6;
}
#password:focus + .lab-pw .spanPw{
    transform: translateY(-30px);
    color: #add8e6;
}

#id:focus,
#password:focus {
    border-bottom-color: #add8e6;
}